@import '../../utils/shared.less';

.home {
    flex: 1;
    display: flex;
    flex-direction: column;

    header {
        .pxToRem(height, 140);
        .pxToRem(font-size, 60);
        background-size: cover;
    }

    main {
        flex: 1;
        // main中采取grid布局
        display: grid;
        grid-template:
            "box1 box2 box3" 940fr / 1fr 2.5fr 1fr;
        grid-gap: 0.5rem;

        >.col1 {
            grid-area: box1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0 0.5rem 0.5rem 0.5rem;

            .chart {
                .section;
                position: relative;

                .chart-title {
                    position: absolute;
                    color: whitesmoke;
                    .pxToRem(top, -12);
                    font-weight: bold;

                    .chart-title-icon {
                        .pxToRem(width, 20);
                        .pxToRem(margin-right, 10)
                    }
                }
            }

            .chart4 {
                .section;
                .pxToRem(height, 230);
                position: relative;

                .chart-title {
                    position: absolute;
                    color: whitesmoke;
                    .pxToRem(top, -12);
                    font-weight: bold;

                    .chart-title-icon {
                        .pxToRem(width, 20);
                        .pxToRem(margin-right, 10)
                    }
                }

                .truck {
                    position: absolute;
                    .pxToRem(width, 150);
                    .pxToRem(top, 100);
                    .pxToRem(left, 30);
                }

                .line-up {
                    position: absolute;
                    .pxToRem(width, 150);
                    .pxToRem(top, 60);
                    .pxToRem(left, 100);
                }

                .line-down {
                    position: absolute;
                    .pxToRem(width, 150);
                    .pxToRem(top, 150);
                    .pxToRem(left, 100);
                }

                .border-up {
                    position: absolute;
                    .pxToRem(width, 140);
                    .pxToRem(top, 25);
                    .pxToRem(left, 235);
                }

                .border-down {
                    position: absolute;
                    .pxToRem(width, 140);
                    .pxToRem(top, 150);
                    .pxToRem(left, 235);
                }

                .data-1 {
                    position: absolute;
                    .pxToRem(top, 35);
                    .pxToRem(left, 275);
                    color: #3DD6F7;
                    font-weight: bolder;
                    .pxToRem(font-size, 20)
                }

                .data-2 {
                    position: absolute;
                    .pxToRem(top, 160);
                    .pxToRem(left, 275);
                    color: #F0C71E;
                    font-weight: bolder;
                    .pxToRem(font-size, 20)
                }
            }
        }

        >.col2 {
            grid-area: box2;
            display: flex;
            flex-direction: column;

            .map {
                flex: 1
            }

            .table {
                .pxToRem(margin-right, 24);
                .pxToRem(margin-left, 24);
                .pxToRem(height, 240);
                background-image: url(../../../assets/img/borderLong.png);
                background-size: cover;
                background-repeat: no-repeat;
                position: relative;

                .chart-title {
                    position: absolute;
                    color: whitesmoke;
                    .pxToRem(top, -12);
                    font-weight: bold;

                    .chart-title-icon {
                        .pxToRem(width, 20);
                        .pxToRem(margin-right, 10)
                    }
                }

                .table-header {
                    width: 100%;
                    color: #4CF5FA;
                    position: absolute;
                    .pxToRem(top, 18);
                    .pxToRem(padding, 12);
                    .pxToRem(font-size, 18);
                    display: flex;
                    flex-direction: row;

                    .table-header-content {
                        flex: 1;
                        text-align: center;
                    }
                }

                .table-body {
                    position: absolute;
                    color: #FFFFFF;
                    width: 100%;
                    .pxToRem(top, 50);
                    .pxToRem(padding, 12);
                    .pxToRem(font-size, 16);

                    table {
                        width: 100%;
                        .pxToRem(height, 150);
                        .pxToRem(margin-top, 10);
                        // td定宽
                        // table-layout: fixed;
                        // text-align: center;
                        // 表格行间距
                        .pxToRem(border-spacing, 12);
                        //table wrapper
                        display: block;
                        overflow-y: scroll;
                        -ms-overflow-style: none;
                    }

                    // 去掉滚动条
                    table::-webkit-scrollbar {
                        display: none;
                    }

                    // tbody样式
                    .child {
                        display: block;
                        width: 100%;
                    }

                    .child tr {
                        display: flex;
                        .pxToRem(margin-top, 8);
                        width: 100%;

                        >td {
                            flex: 1;
                            text-align: center
                        }
                    }
                }
            }

            .footer {
                .pxToRem(height, 100);
                .pxToRem(margin-top, 24);
                background-image: url(../../../assets/img/footer.png);
                background-size: contain;
                background-repeat: no-repeat;
                .pxToRem(font-size, 30);
                color: #2b8999;
                font-weight: bolder;
                position: relative;
                font-family: YouShe;

                .footer-1 {
                    position: absolute;
                    .pxToRem(top, 35);
                    .pxToRem(left, 110);
                }

                .footer-2 {
                    position: absolute;
                    .pxToRem(top, 35);
                    .pxToRem(left, 280);
                }

                .footer-home {
                    position: absolute;
                    .pxToRem(top, 17);
                    .pxToRem(left, 496);
                    color: #4CF5FA
                }

                .footer-3 {
                    position: absolute;
                    .pxToRem(top, 35);
                    .pxToRem(right, 280);
                }

                .footer-4 {
                    position: absolute;
                    .pxToRem(top, 35);
                    .pxToRem(right, 110);
                }
            }
        }

        >.col3 {
            grid-area: box3;
            // background: lightyellow;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0 0 0.5rem 0.5rem;

            .chart {
                .section;
                position: relative;

                .chart-title {
                    position: absolute;
                    color: whitesmoke;
                    .pxToRem(top, -12);
                    font-weight: bold;

                    .chart-title-icon {
                        .pxToRem(width, 20);
                        .pxToRem(margin-right, 10)
                    }
                }

                .chart5-warpper {
                    height: 100%;
                    .pxToRem(margin, 10);
                    display: grid;
                    grid-template:
                        "sec1 sec2" 1fr "sec3 sec4" 1fr / 1fr 1fr;

                    >.chart5-1 {
                        grid-area: sec1;
                        display: flex;
                        flex-direction: row;
                        .pxToRem(padding-left, 24);


                        .chartIcon {
                            .pxToRem(width, 70);
                            .pxToRem(margin-right, 12);
                            background-size: contain;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-image: url(../../../assets/img/dataIcon.png);
                        }

                        .chart5-1-data-wrapper {
                            flex: 1;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            padding: auto 0;
                        }
                    }

                    >.chart5-2 {
                        grid-area: sec2;
                        display: flex;
                        flex-direction: row;
                        .pxToRem(padding-left, 24);


                        .chartIcon {
                            .pxToRem(width, 70);
                            .pxToRem(margin-right, 12);
                            background-size: contain;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-image: url(../../../assets/img/dataIcon.png);
                        }

                        .chart5-1-data-wrapper {
                            flex: 1;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            padding: auto 0;
                        }

                    }

                    >.chart5-3 {
                        grid-area: sec3;
                        display: flex;
                        flex-direction: row;
                        .pxToRem(padding-left, 24);


                        .chartIcon {
                            .pxToRem(margin-right, 12);
                            .pxToRem(width, 70);
                            background-size: contain;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-image: url(../../../assets/img/dataIcon.png);
                        }

                        .chart5-1-data-wrapper {
                            flex: 1;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            padding: auto 0;
                        }
                    }

                    >.chart5-4 {
                        grid-area: sec4;
                        display: flex;
                        flex-direction: row;
                        .pxToRem(padding-left, 24);


                        .chartIcon {
                            .pxToRem(width, 70);
                            .pxToRem(margin-right, 12);
                            background-size: contain;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-image: url(../../../assets/img/dataIcon.png);
                        }

                        .chart5-1-data-wrapper {
                            flex: 1;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            padding: auto 0;
                        }
                    }
                }

                .chart6-wrapper {
                    height: 100%;
                    .pxToRem(margin, 10);
                    display: flex;
                    flex-direction: row;

                    .chart6-1 {
                        flex: 1;

                        .pxToRem(margin-bottom, 10);
                    }

                    .chart6-2 {
                        flex: 1;
                        .pxToRem(margin-bottom, 10);
                    }
                }
            }


            .chart4 {
                .section;
                .pxToRem(height, 230);
                position: relative;

                .chart-title {
                    position: absolute;
                    color: whitesmoke;
                    .pxToRem(top, -12);
                    font-weight: bold;

                    .chart-title-icon {
                        .pxToRem(width, 20);
                        .pxToRem(margin-right, 10)
                    }
                }

            }
        }

    }
}