@import '../../utils/shared.less';

.home {
    flex: 1;
    display: flex;
    flex-direction: column;

    header {
        .pxToRem(height, 140);
        .pxToRem(font-size, 60);
        background-size: cover;
    }

    main {
        flex: 1;
        // main中采取grid布局
        display: grid;
        grid-template:
            "box1 box2 box3"940fr / 1fr 2.5fr 1fr;
        grid-gap: 0.5rem;

        >.col1 {
            grid-area: box1;
            // background: pink;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0 0 0.5rem 0.5rem;

            .chart {
                .section;
                position: relative;

                .chart-title {
                    position: absolute;
                    color: whitesmoke;
                    .pxToRem(top, -12);
                    font-weight: bold;

                    .chart-title-icon {
                        .pxToRem(width, 20);
                        .pxToRem(margin-right, 10)
                    }
                }
            }

            .chart4 {
                .section;
                .pxToRem(height, 230);
                position: relative;

                .chart-title {
                    position: absolute;
                    color: whitesmoke;
                    .pxToRem(top, -12);
                    font-weight: bold;

                    .chart-title-icon {
                        .pxToRem(width, 20);
                        .pxToRem(margin-right, 10)
                    }
                }

                .truck {
                    position: absolute;
                    .pxToRem(width, 150);
                    .pxToRem(top, 100);
                    .pxToRem(left, 30);
                }

                .line-up {
                    position: absolute;
                    .pxToRem(width, 150);
                    .pxToRem(top, 60);
                    .pxToRem(left, 100);
                }

                .line-down {
                    position: absolute;
                    .pxToRem(width, 150);
                    .pxToRem(top, 150);
                    .pxToRem(left, 100);
                }

                .border-up {
                    position: absolute;
                    .pxToRem(width, 140);
                    .pxToRem(top, 25);
                    .pxToRem(left, 235);
                }

                .border-down {
                    position: absolute;
                    .pxToRem(width, 140);
                    .pxToRem(top, 150);
                    .pxToRem(left, 235);
                }

                .data-1 {
                    position: absolute;
                    .pxToRem(top, 35);
                    .pxToRem(left, 275);
                    color: #3DD6F7;
                    font-weight: bolder;
                    .pxToRem(font-size, 24)
                }

                .data-2 {
                    position: absolute;
                    .pxToRem(top, 160);
                    .pxToRem(left, 275);
                    color: #F0C71E;
                    font-weight: bolder;
                    .pxToRem(font-size, 24)
                }
            }
        }

        >.col2 {
            grid-area: box2;
            // background: lightblue;
        }

        >.col3 {
            grid-area: box3;
            // background: lightyellow;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0 0 0.5rem 0.5rem;

            .chart {
                .section;
            }

            .chart4 {
                .section;
                .pxToRem(height, 230);
            }
        }

    }
}